{% set tag = 'ol' if lst.style.value == 'ordered' else 'ul' %}
{% macro render_item(item) %}
<li>
{% for txt in item.data %}
{{ render_chunk(txt) | trim | indent(4, first=True) | safe }}
{% endfor %}
{% if item.nested_items %}
    <{{ tag }}>
{% for nested in item.nested_items %}
{{ render_item(nested) | trim | indent(8, first=True) | safe }}
{% endfor %}
    </{{ tag }}>
{% endif %}
</li>
{% endmacro %}
<{{ tag }}>
{% for item in lst.items %}
{{ render_item(item) | trim | indent(4, first=True) | safe }}
{% endfor %}
</{{ tag }}>
