<{{ tag }}>
{%- for frag in block.fragments if is_line_break(frag) or frag.text %}
{%- if is_line_break(frag) %}<br>
{%- else %}
{%- if frag.link_url %}<a href="{{ frag.link_url }}">{% endif -%}
{%- if frag.style.bold %}<strong>{% endif -%}
{%- if frag.style.italic %}<em>{% endif -%}
{%- if frag.style.underline %}<u>{% endif -%}
{{- frag.text -}}
{%- if frag.style.underline %}</u>{% endif -%}
{%- if frag.style.italic %}</em>{% endif -%}
{%- if frag.style.bold %}</strong>{% endif -%}
{%- if frag.link_url %}</a>{% endif -%}
{%- endif %}
{%- else %}<br>
{%- endfor %}</{{ tag }}>
