
# Valid Boosty authentication token
BOOSTY_TOKEN=your_boosty_token_here

# Cookies for Boosty authentication (if required)
BOOSTY_COOKIES=your_boosty_cookies_here

# URL or ID of a post that is publicly accessible
BOOSTY_AVAILABLE_POST=https://boosty.to/author/posts/12345

# URL or ID of a post that exists but is behind a paywall or private
BOOSTY_UNAVAILABLE_POST=https://boosty.to/author/posts/67890

# Username of an author that doesn't exist
BOOSTY_NONEXISTENT_AUTHOR=nonexistent_author_username

# Username of an existing author with public content
BOOSTY_EXISTING_AUTHOR=existing_author_username
